/*
**  Preset
*/

* {
  box-sizing: border-box;
}

::selection {
  background: $redfocus;
}

h1,
h2,
h3,
h4 {
  font-family: $title;
}

p,
a {
  font-family: $text;
}

.btn {
  border-radius: 0px;
  border-width: 2px;
}

.btn-primary {
  background-color: transparent;
  border-color: $red;
  &:hover {
    background-color: $redfocus;
    border-color: $redfocus;
  }
}

.btn-secondary {
  background-color: $red;
  border-color: $red;
  &:hover {
    background-color: $redfocus;
    border-color: $redfocus;
  }
}

/*
**  Navbar
*/

.mainNav {
  background-color: $black;
  transition: background-color 0.3s ease;
  * {
    box-sizing: border-box;
  }
  .navbar-brand {
    font-size: 30px;
    font-family: $title;
    color: $redfocus;
    transition: color 0.3s ease;
    &:hover {
      color: $white;
    }
  }
  .nav-link {
    font-size: 20px;
    font-family: $text;
    color: $white;
    position: relative;
    padding: 5px 0;
    letter-spacing: 1px;
    text-align: center;
    transition: color 0.3s ease;
    &:hover {
      color: $redfocus;
    }
    &:before,
    &:after {
      position: absolute;
      transition: all 0.35s ease;
    }
    &:before {
      bottom: 0;
      display: block;
      height: 3px;
      width: 0%;
      content: "";
      background-color: $redfocus;
    }
    &:after {
      left: 0;
      top: 0;
      padding: 0.5em 0;
      position: absolute;
      content: attr(data-hover);
      color: $redfocus;
      white-space: nowrap;
      max-width: 0%;
      overflow: hidden;
    }
    &:hover:before {
      opacity: 1;
      width: 90%;
    }
    &:hover:after {
      max-width: 90%;
    }
  }
  .current {
    .nav-link {
      color: $red;
      &:before {
        opacity: 1;
        width: 90%;
      }
      &:after {
        max-width: 90%;
      }
    }
  }
}

/*
**  Header
*/

header {
  margin-top: -3rem;
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .carousel-caption {
      left: 0;
      top: 0;
      padding-top: 20vh;
      padding-left: 16px;
      height: 100vh;
      width: 400px;
      background: linear-gradient( to right, rgba($color: black, $alpha: 1), rgba($color: black, $alpha: 0.2) 90%, transparent);
      * {
        max-width: 90%;
      }
      h1,
      h3 {
        text-align: left;
        font-size: 75px;
      }
      p {
        margin: 60px 0;
        text-align: left;
        font-size: 20px;
      }
      a {
        margin-left: -100px;
      }
    }
  }
}

/*
**  Intro
*/

.intro {
  padding: 80px 0;
  .frame {
    padding: 16px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    img {
      max-width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    &:before,
    &:after {
      z-index: -1;
      position: absolute;
      content: '';
      opacity: 0.6;
    }
    &#frame1:before {
      border: 6px solid $red;
      bottom: 32px;
      right: 32px;
      top: 0px;
      left: 0px;
    }
    &#frame2:after {
      border: 6px solid $red;
      bottom: 0px;
      right: 0px;
      top: 32px;
      left: 32px;
    }
  }
  h2 {
    margin-bottom: 10px;
    color: $red;
  }
  p {
    color: $grey;
    line-height: 25px;
  }
  .btn-primary {
    color: $red;
    &:hover {
      color: $white;
    }
  }
}

/*
** Maps
*/

#maps {
  padding: 0;
  background-color: $black;
  iframe {
    border: 0;
    width: 100%;
    height: 450px;
  }
}

/*
** Footer
*/

footer {
  background-color: $black;
  color: $grey;
  padding: 80px 0;
  h4 {
    font-size: 20px;
    color: $redfocus;
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 8px;
      i {
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
  .openDays {
    font-weight: 700;
    line-height: 20px;
  }
  .openTime {
    line-height: 30px;
  }
}